<div class="mt-4">
  <h2>
    Dang bai review
  </h2>
  <form method="POST" action="films/store">
      <div class="form-group">
        <label for="despription:">Mo ta phim</label>
        <input type="text" class="form-control" id="despription" placeholder="despription">
      </div>
      <div class="form-group">
        <label for="image:">Anh phim</label>
        <input type="text" class="form-control" id="image" placeholder="image">
      </div>
      <button type="text" class="btn btn-primary">Dang</button>
  </form>
</div>