<div class="mt-4">
  <h3>
    Dang khoa hoc
  </h3>
  <form method="GET" action="">
    <div class="form-group">
      <label for="name:">Ten khoa hoc</label>
      <input type="text" class="form-control" id="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="despription:">Mo ta khoa hoc</label>
      <input type="text" class="form-control" id="despription" placeholder="despription">
    </div>
    <div class="form-group">
      <label for="image:">Hinh hoa hoc</label>
      <input type="text" class="form-control" id="image" placeholder="image">
    </div>
    <button type="text" class="btn btn-primary">Them khoa hoc</button>
  </form>
</div>