<div class="mt-4">
    <div class="row">
        {{#each reviews}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
            <img class="card-img-top" src="{{this.userava}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{this.username}}</h5>
                <p class="card-text">{{this.content}}</p>
                {{!-- <a href="#" class="btn btn-primary">Xem them</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>