<div class="mt-4">
    <form method="GET" action="">
        <div class="form-group">
            <label for="Search-input">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="Search-input" placeholder="Nhap tu khoa...">
        </div>
        <div class="form-group">
            <label for="gender-input">Tu khoa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--Chon gioi tinh---</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>